
<div class="row col-lg-12">


    
            <!--item templet-->

            <div class="card  col-lg-3 mb-d text-center" >
              <img src="http://localhost:3000/api/file/5bf711527ec72e02153740b27073df52.JPG" alt="" class ="card-img-top">
                <div class="card-body">

                    <p class="card-text"> {{itemData.description}} </p>
                    <p class="card-text">Ksh 1200</p>


                    <ngb-rating [(rate)]="currentRate"></ngb-rating>
                    <hr>
                   <a class="btn btn-primary">buy now</a>
                    
                </div>
            
            </div>
            <!--item templet-->           



</div>





