
<div class="shelve-container">
<div class="row">


            <mat-card  class="col-lg-3 mb-4 align-item-center">
                <mat-card-title>
                    my items 
            
                </mat-card-title>
            </mat-card>


            <!--additional Items -->


            <mat-card  class="col-lg-3 mb-4 align-item-center">
                <mat-card-title>
                    my items 
            
                </mat-card-title>
            </mat-card>




            <mat-card  class="col-lg-3 mb-4 align-item-center">
                <mat-card-title>
                    my items 
            
                </mat-card-title>
            </mat-card>




            <mat-card  class="col-lg-3 mb-4 align-item-center">
                <mat-card-title>
                    my items 
            
                </mat-card-title>
            </mat-card>





            <mat-card  class="col-lg-3 mb-4 align-item-center">
                <mat-card-title>
                    my items 
            
                </mat-card-title>
            </mat-card>





            <mat-card  class="col-lg-3 mb-4 align-item-center">
                <mat-card-title>
                    my items 
            
                </mat-card-title>
            </mat-card>



            <mat-card  class="col-lg-3 mb-4 align-item-center">
                <mat-card-title>
                    my items 
            
                </mat-card-title>
            </mat-card>

            <mat-card  class="col-lg-3 mb-4 align-item-center">
                <mat-card-title>
                    my items 
            
                </mat-card-title>
            </mat-card>




</div>
</div>




