<footer class="footer page-footer " >

  <!--Footer elements-->

  <div class="container">
    <div class="row col-lg-12">
      <!--Infomation-->
      <div class="col-sm-3 card">
        <p class="card-title">Information</p>
         <p><mat-icon>local_phone</mat-icon>&nbsp;+254700000000</p>
         <p><mat-icon>email</mat-icon>&nbsp;info@soko.com</p>
         <p class="row">
           <a class="fa fa-facebook"></a> &nbsp;
           <a class="fa fa-twitter"></a>&nbsp;
           <a  class="fa fa-pinterest"></a>

         </p>

          
      </div>
       <!--Infomation-->

       <!--quick Links-->
       <div class="col-sm-3 card quick-links">
        <p class="card-title">Quick Links </p>
        <a >Machines</a>
        <a >roofing</a>
        <a >floor</a>
        <a >walls</a>
        <a >painting</a>
          
      </div>
       <!--quick Links-->

       <!--Subscribe-->

       <div class="col-sm-6 card ">
        <p class="card-title">Subscribe </p>
         
        <div class="row">
          <input type="text"  class=" col-sm-4 form-control" placeholder="Email">
          <input type="submit"  class="btn my-btn" value="Subscribe">
       
        </div>
         
          
      </div>
     
       



      <!--Subscribe-->


    
    </div>
  </div>


  <!--Footer elements-->





  <!--copyright-->
  <div class="py-3 text-center">

  <p>&copy;All rights reserved</p>

  </div>
  <!--copyright-->



</footer>