
<div class="container">
    <div class="row">


<!--dashboard-->
<mat-card class="col-lg-3  dashbord">
    <mat-card-content>
        <div dash-control>

            <a [routerLink]="['/sell']" routerLinkActive="router-link-active" >
                <div class="row">                   
                        <mat-icon>money</mat-icon>
                        <span>sell product</span>
                

                </div>
                
            </a>

            <a [routerLink]="['/home']" routerLinkActive="router-link-active" >
                <div class="row">                   
                        <mat-icon>local_shipping</mat-icon>
                        <span>Local shipping</span>
                

                </div>
                
            </a>
            
        
            

        </div>
        

    </mat-card-content>

</mat-card>

<!--bunner-->
<mat-card class=" banner col-lg-8">
    <mat-card-content>
        <app-carousel></app-carousel>

    </mat-card-content>
    

</mat-card>



    </div>
</div>
