
<div class="container">
    <div class="row">


<!--dashboard-->
<mat-card class="col-lg-3  dashbord">
    <mat-card-content>
        <div dash-control>

            <a>
                <div class=" row card dash-btn">                   
                        <mat-icon>add</mat-icon>
                       <p> Sell product</p>
                

                </div>
                
            </a>
            
        
            

        </div>
        

    </mat-card-content>

</mat-card>

<!--bunner-->
<mat-card class=" banner col-lg-8">
    <mat-card-content>
        <app-carousel></app-carousel>

    </mat-card-content>
    

</mat-card>



    </div>
</div>
