.dashboard{
    float: left;
    position:absolute;
    height: 400px;


}
.banner{
    float: right;
    margin-left: 10px;
    height:400px ;

}
.dash-btn{
    background-color: #44bd32;
    widows: 80px;
    height: 48px;
    display: block;
    align-items: center;
    color:white ;

}

mat-icon{
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    width: 48px;
    height: 48px;
}

a{
    text-decoration: none;
    display: block;
}

a mat-icon{
    color: #079992;
}

a span{
    color: #000;
}

a:hover{
    background-color: #dff9fb;
    color: white;
}