.dashboard{
    float: left;
    position:absolute;
    height: 400px;


}
.banner{
    float: right;
    margin-left: 10px;
    height:400px ;

}
.dash-btn{
    background-color: #44bd32;
    widows: 80px;
    height: 48px;
    display: block;
    align-items: center;
    color:white ;

}