
mat-toolbar{
    position:sticky;
   padding: 0%;
    background: #079992;
}

.logo{
    color: white;
    font-weight: bolder;
    font-size: larger;
    font-family:roboto ;
    margin-left: 10px;
    
}

.search-form{  
   padding: 0;
    margin-left: 6rem;
    margin-right: 0;

}
.search-bar{
    border-radius:0;
    
}

.search-btn{
    border-radius:0 ;
    background:#dff9fb;
    color: black;
    font-family:verdana;
    font-weight: bold;
    margin-left:0.5px;

    

    
}

.nav-icon{
    margin-left: 3rem ;
    padding: 5px;
    color: white;
    float: right;
    margin-right:0;
}
span{
    padding: 0%;
}

a{
text-decoration: none;
color: white;

}

.my-icom{
    margin-left: 6rem;
}

.outer-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 12px;

}

.outer-div span{
    font-size: 14px;
    font-weight: bold;
}

.form-rounded{
    border-radius: 1rem ;
}

