
<mat-toolbar class="nav lg-expand my-navbar">
    <span class="logo">Soko</span>
    <!--toggle button-->
   

    <!--toggle button-->

    <span class="col-lg-8 search-form">    
           


                <div class="row">
                 <div class="col-lg-8 search-bar">
                    <input type="text" class="form-control" name="search" #search>
                 </div>

                <input type="submit" class="btn search-btn " value="search"  (click)="onSearch(search.value)">

                </div>                  
            
                       

                
                
            

            
               
        
    </span>

   

     <!--search-->

             
    <!--nav bar icons -->
    <span class="row">
        <a [routerLink]="['/signin']" routerLinkActive="router-link-active" >   
        <div class="outer-div">
            <mat-icon>person</mat-icon>
            <span>Account</span>
        </div>
    </a>

    <a>   
        <div class="outer-div">
            <mat-icon>shopping_cart</mat-icon>
            <span>Cart</span>
        </div>
    </a>

    <a>   
        <div class="outer-div">
            <mat-icon>live_help</mat-icon>
            <span>Help</span>
        </div>
    </a>

         
       </span>

    
    
       <!--nav bar icons -->

    


</mat-toolbar>

