
<mat-toolbar class="nav lg-expand my-navbar">
    <span class="logo">Soko</span>
    <!--toggle button-->
   

    <!--toggle button-->

    <span class="col-lg-8 search-form">  
    
           
            
               <form action="">

                <div class="row">
                 <div class="col-lg-8 search-bar">
                    <input type="text" class="form-control">
                 </div>

                <input type="submit" class="btn search-btn " value="search">

                </div>      
                     
            
                       

                
                
                   
                   
                    

            </form>

            
               
        
    </span>

   

     <!--search-->

             
    <!--nav bar icons -->
    <span>
        <mat-icon class="nav-icon">shopping_cart</mat-icon>
        <mat-icon class="nav-icon">person</mat-icon> 
        <mat-icon class="nav-icon">live_help</mat-icon>
         
       </span>
    
       <!--nav bar icons -->

    


</mat-toolbar>

