
mat-toolbar{
    position:sticky;
   padding: 0%;
    background: #079992;
}

.logo{
    color: white;
    font-weight: bolder;
    font-size: larger;
    font-family:roboto ;
    margin-left: 10px;
    
}

.search-form{  
   padding: 0;
    margin-left: 8rem;
    margin-right: 0;

}
.search-bar{
    border-radius:0;
}

.search-btn{
    border-radius:0 ;
    background:#dff9fb;
    color: black;
    font-family:verdana;
    font-weight: bold;
    margin-left:0.5px;

    

    
}

.nav-icon{
    margin-left: 36px;
    padding: 5px;
    color: white;
}
span{
    padding: 0%;
}

