
<mat-toolbar class="nav lg-expand my-navbar">
    
    <span class="logo" >
    <a  [routerLink]="['/home' ]" routerLinkActive="router-link-active"  >Soko</a>
    </span>
    <!--toggle button-->
   

    <!--toggle button-->

    <span class="col col-sm-8 search-form">            


                
                 <section>
            
                     <form [formGroup]=" searchService.searchForm" >
                    <input type="text"  class=" form-control search-bar form-rounded text-center"  (keyup)="searchService.searchTerms.next($event)" 
                    formControlName ="search"    placeholder="Search  ..." (click)="onSearch()">
                </form>
                 

               
            </section>

                
            
                       

                
                
            

            
               
        
    </span>

   

     <!--search-->

             
    <!--nav bar icons -->
    <span class="row nav-icon  ">
        <a [routerLink]="['/signin']" routerLinkActive="router-link-active" >   
        <div class="outer-div">
            <mat-icon>person</mat-icon>
            <span>Account</span>
        </div>
    </a>

    <a>   
        <div class="outer-div">
            <mat-icon>shopping_cart</mat-icon>
            <span>Cart</span>
        </div>
    </a>

    <a>   
        <div class="outer-div">
            <mat-icon>live_help</mat-icon>
            <span>Help</span>
        </div>
    </a>

         
       </span>

    
    
       <!--nav bar icons -->

    


</mat-toolbar>

<router-outlet></router-outlet>

