
<div class="my-container  container-fluid ">
    
    <div class="row  col-lg-12">
    <div class="card col-lg-8  align-items-center text-lg-center ">

        
            <h1 class="card-title">
                Sign In</h1>
            
            
            <div class="card-body">

                <!--Login form -->


                <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && onSubmit(loginForm)">
                     
                <!--Email-->

                <div class="form-group">
                    <input type="email" class="form-control" placeholder="you@you.com" name="email" id="email"
                   #email="ngModel" [(ngModel)]="usermodel.email"  required [pattern]="userService.emailRegex" 
                    [ngClass]="{'invalid-textBox': loginForm.submitted && !email.valid}"
                    
                    >

                    <div *ngIf="loginForm.submitted && email.errors">

                        <label for="" *ngIf="email.errors.required">!email  required </label>
                        
                        <label for="" *ngIf="email.errors.pattern">!invalid email </label>

                    </div>
                </div>
                
                <!--Email-->



                
                
                <!--Password-->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="password" id="passsword" name="password" 
                    required minlength="6" #password="ngModel" [(ngModel)]="usermodel.password" 
                    [ngClass]="{'invalid-textBox': loginForm.submitted && !password.valid}"
                    >

                    <div *ngIf="loginForm.submitted && password.errors">
                     <label for="" *ngIf="password.errors.required">!password required</label>
                     
                     <label for="" *ngIf="password.errors.required">! at least 6 characters</label>
                    </div>
                </div>
                
                <!--Password-->




                <!--login  button -->
                <div class="form-group">
                    <input type="submit" class="my-btn" value="Login" >
                </div>

                 <!--login  button -->


                
              
                




                </form>

                  <!--Login form -->



                  <!--error message -->

                  <div *ngIf="errMessage">
                    <label for="">{{errMessage}}</label>
                </div>
                <!--error message -->
                  


            </div>






        <div>
            <p>Dont have an acount? <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Sign Up</a></p>
        </div>
        <hr>
        <h2>login with ....</h2>
        <div>
            <a href="" class="fa fa-google"></a>
            <a href="" class="fa fa-facebook"></a>
        </div>


    </div>
  
    
</div>
</div>